body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #111;
}

.container-first {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 24px 184px 24px 184px;
    align-items: center;
    gap: 149px;
}

.container-first .main-nav {
    display: flex;
    gap: 40px;
    font-family: sans-serif;
    font-size: 20px;
}

.main-nav .nav-link {
    color: #111;
    text-decoration: none;
}

.container-first .socials {
    display: flex;
    gap: 10px;
}

.container-second {
    display: flex;
    justify-content: center;
}
.colum-left {
    width: 40%;

}
.colum-right {
    width: 60%;
    display: flex;
    justify-content: center;
}

.colum-left .main-title {

}

.colum-left .description {
    
}

.colum-left .btn {
    display: flex;
    display: inline-block;
    padding: 1em 2em;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    line-height: 1em;
    background-color: #fff;
    border: 2px solid #111111;
    color: #111111;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    margin-top: 50px;
}